* {
    margin: 0;
    padding: 0;
    font-family: Arial, Verdana, sans-serif;
}
.background {
    background-color: slategray;
}
nav ul {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    font-size: 20pt;
    list-style-type: none;
    background-color: #295498;
    border: 2px solid #283e4a;
    z-index: 3;
}
nav ul li {
    float: left;
}
nav ul li a {
    display: block;
    padding: 40px;
    color: white;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
    opacity: 0.7;
    transform: scale(1.05);
}
h1 {
    color: white;
    background-color: rgba(0,0,0,.4);
    margin: 20px auto 20px auto;
    padding: 10px;
    text-align: center;
    width: 500px;
    border: 2px solid #27426d;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    font-size: 24pt;
}
p {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 14pt;
}
nav {
    padding: 10px;
}
body {
    background-color: whitesmoke;
    position: relative;
    top: 95px;
}
footer {
    color: white;
    background-color: #295498;
    padding: 20px;
    text-align: left;
    bottom: 0;
}
footer p {
    margin: auto;
}
aside {
    float: left;
    margin-right: 30px;
}
.pxllogo1 {
    width: 100px;
    margin-left: 20px;
}
.pxllogo1:hover {
    transform: scale(0.8);
    transition: 0.5s;
    opacity: 0.7;
}
.pxllogo2 {
    width: 100px;
}
.catering {
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    margin-right: auto;
    width: 50%;
    border: 4px solid #000;
}
.delivery {
    list-style: disc outside none;
    display: list-item;
    margin-left: 2em;
}
form {
    margin: 20px;
    padding: 10px;
}
.menu {
    margin-top: 60px;
    margin-left: 50px;
    list-style-type: circle;
    padding: 10px;
    font-size: 14pt;
}
.menufoto {
    display: block;
    margin: 70px 20px 100px 50px;
    width: 35%;
    border: 4px solid #000;
    float: right;
}
.menutekst {
    margin-left: 14px;
    float: left;
}
@media screen and (max-width: 1000px) {
    nav ul li {
    font-size: 16pt;
    }
}
@media screen and (max-width: 800px) {
    .pxllogo1 {
        margin-left: 190px;
    }
    nav ul {
        font-size: 10pt;
    }
}
table {
    border-spacing: 1px;
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    position: relative;
    z-index: -1;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
td,th {
    padding-left:8px;
    text-align: center;
}
thead tr {
    height: 60px;
    background: #677bff;
    font-size: 16px;
}
tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}
td:first-child {
    text-align: left;
    color: #00aaf1;
}
#menuvolledig {
    margin: 10px 0 20px 20px;
}
#password {
    margin-top: -25px;
}
#wachtwoord {
    padding: 3px;
    margin-top: 5px;
}
#gebruikersnaam {
    padding: 3px;
    margin-top: 5px;
}
#login {
    margin: 20px 0 20px 20px;
    font-size: 14pt;
}
#logintekst {
    margin: 30px 0 20px 20px;
    position: absolute;
    z-index: 1;
    float: top;
}
#catering {
    width: 100%;
    margin-top: -150px;
    opacity: 0.6;
}
/*bron: w3schools*/
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: royalblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    position: absolute;
    z-index: 1;
}
button:hover {
    opacity: 0.8;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.container {
    padding: 10px;
}
/*bron: w3schools*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 60px;
}
/*bron: w3schools*/
.modal-content {
    background-color: white;
    margin: 5% auto 15% auto;
    border: 1px solid #27426d;
    width: 80%;
}
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
/*bron: w3schools*/
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}